Repository CrystalCraftMC/infrastructure, pull requests merged in 2021-01, with the labels that each got.

#10 Change spigot version from 1.16.2 to 1.16.4
  roles/spigot/defaults/main.yml
Labels: T: ansible:roles, new change

#11 system/user-management: Initial commit
  playbooks/hosts/anvil.yml
  roles/system/user-management/README.md
  roles/system/user-management/files/10_spigot-admin
  roles/system/user-management/meta/main.yml
  roles/system/user-management/tasks/main.yml
Labels: T: ansible:roles, new change

#12 git: Change default branch from master to main
  .travis.yml
  README.md
Labels: T: contributor experience, new change

#14 repos/epel: No longer require CentOS PowerTools repo
  roles/repos/epel/tasks/main.yml
Labels: T: ansible:roles, bug

#13 Refactor privileged users logic
  inventory/inventory
  roles/spigot/tasks/binaries.yml
  roles/spigot/tasks/main.yml
  roles/spigot/tasks/user-management.yml
  roles/system/user-management/README.md
  roles/system/user-management/files/10_spigot-admin
  roles/system/user-management/tasks/main.yml
  roles/system/user-management/vars/main.yml
Labels: T: ansible:roles, bug
